
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

.myDiv {
  height: 50vh;
  width: 200px;
  font-family: 'Playwrite DE Grund';
  font-weight: 700;
  background-color: #8a2be2;
  color: #ffddb1;
}